<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PinkSlipper</title>
    <link href="static/img/favicon.ico" rel="shortcut icon">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!--     <a href="index.html"> <img src="static/img/logo_178x100.png"></a> -->
    <div id="Intro">
        <a href="/reset"> <img src="static/img/logo_356x200.png"></a>
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="topnavbar">
        
        <div class="container">
            <!-- <a href="#" class="pull-left"><img src="static/img/navbar_text_200x30.png"></a> -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/reset" class="navbar-brand text-muted">Your Daily Scoop on Business Leaders Worldwide</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/reset">Recent News</a>
                    </li>
                    <li>
                        <a href="http://www.jscottcronin.com/" target="_blank">About Me</a>
                    </li>
                    <li>
                        <a href="https://github.com/jscottcronin/PinkSlipper" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </header>

    <!-- Page Content -->
    <form action="/" method='POST' class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <!-- Multiple Checkboxes (inline) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="checkboxes">Filter:</label>
          <div class="col-md-4">
            <label class="checkbox-inline" for="checkboxes-0" style="padding-top: 0px;">
              <input type="checkbox" name="checkboxes" id="checkboxes-0" value="CEO">
              CEO
            </label>
            <label class="checkbox-inline" for="checkboxes-1" style="padding-top: 0px;">
              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="CFO">
              CFO
            </label>
            <label class="checkbox-inline" for="checkboxes-2" style="padding-top: 0px;">
              <input type="checkbox" name="checkboxes" id="checkboxes-2" value="CTO">
              CTO
            </label>
            <label class="checkbox-inline" for="checkboxes-3" style="padding-top: 0px;">
              <input type="checkbox" name="checkboxes" id="checkboxes-3" value="COO">
              COO
            </label>
            <label class="checkbox-inline" for="checkboxes-4" style="padding-top: 0px;">
              <input type="checkbox" name="checkboxes" id="checkboxes-4" value="CMO">
              CMO&nbsp&nbsp
            </label>
            <button id="submit" name="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </fieldset>
    </form>

    <hr>

    
    <div class="container">
        {% for key, value in articles.iteritems() %}
   <!--      <dt>{{ key|e }}</dt>
        <dd>{{ value|e }}</dd> -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src={{value['img']}} onerror="this.src='static/img/logo_356x200.png'">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{value['_id']|e}}</h3>
                <h5>{{value['date_loc']}}</h5>
                <p>{{value['summary_250']}}</p>
                <a class="btn btn-primary" href="/{{key}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        {% endfor %}

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    {{ pagination.links }}
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="footer">
      <div class="container" style="padding-top: 50px">
        <div class="row text-center">
            <p class="text-muted">Copyright &copy; Scott Cronin 2015</p>
        </div>
      </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.js"></script>

</body>

</html>
